*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* body{
    background-color: rgb(41, 2, 41); */

/* .carousel-control-prev{
      !important ;
} */

.carousel-item{
    align-items: center !important;
    justify-content: center !important;
    /* height: 300px !important; */
    /* margin: 10px; */
}
/* .slide{
    height: 300px !important;
    align-items: center !important;
    /* padding: 10px; 
    margin: 30px;
} */
/* 
img{
    object-fit: cover;
} */

h2 {
    font-weight: bolder;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
    margin: 30px;
}
